ELECTRON_WEBPACK_APP_GOOGLEID=
HOST=0.0.0.0
ELECTRON_WEBPACK_APP_API_URL=https://local.plshelp.live:5001
ELECTRON_WEBPACK_APP_JITSI_URL=jitsi.local.plshelp.live:8443

# Sample keys from `npx generate-vapid-keys`
ELECTRON_WEBPACK_APP_VAPID_PUBLICKEY=BG2QxzujwzP60oqKoT0ZxArqtcI-d1k6CWjhFrfdd2HWh7SLQDAyYjavm7cfvVrkzd_2pMRBcOuPVDpWaB_vKYk