code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
  box-sizing: border-box;
}

.ui.pointing.secondary.menu {
  margin-bottom: 0;
}

.container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#app, .container, .room, .room>* {
  height: 100%;
}

html,
body {
  background: white !important;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

main a {
  color: rgb(0, 117, 255);
}
.call-to-action {
  font-size: 1.3rem;
  padding: 1rem;
  text-decoration: none;
  transition: all 1s;
}
.call-to-action:hover {
}

.home h1{
  font-size:  4rem;

}

.home strong{
  font-size:  2rem;
}
.call-to-action a {
  text-decoration: none;
}

.home strong {
  padding: 2rem;
}


div.home{
  /* border: 1px solid red; */
}

li.post {
  color: black;
  /* border:2px solid slateblue; */
  padding: 1rem;
  /* margin: 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /* margin-top: 100px; */
}
li.post a:hover{
  text-decoration: none;
}
li.post:nth-child(even){
  background: #ddd;

}
.post section {
  background: black;
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  min-height: 400px;
}

.stream {
  width: 15vw;
  height: 10vw;
  transition: all 0.3s;
}




.profile.page h2 {
  font-size: 40px;
}

.post:nth-child(odd) {
  background-color: #eee;
}
.post input {
  transform: scale(1.5);
  margin: 1rem;
}
.post:hover .stream {
  border: 1px solid white;
  width: 15.5vw;
  height: 10.5vw;
}
.post:hover .stream:hover::after {
  /* border:1px solid black; */
  /* background-color: white !important; */
  /* content: ' الآلآ ن '; */
  content: '🐮';

}
.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}
.post .message, .post .bounty{
  display:  inline;
}

#pay {
  padding: 1rem;
}


.posts {
    padding-top: 2rem;
    margin: 5rem 0;
    font-size: 1.5rem;
    line-height: 4rem;
}


.posts li:nth-child(odd){
  background:#eee;
}

.posts a {
  text-decoration: none;
}

.posts li:hover{
  background: #ddd;
  text-decoration: underline;
} 



.stream {
  display: flex;
  flex-direction: column;
}
.post img {
  object-fit: contain;
  height: 0%;
  flex-grow: 1;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile #addPost {
  display: flex;
  flex-direction: column;
}

/* #createRoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  padding: 50px;
  justify-content: space-evenly;
  padding: 50px;
  height: 300px;
}

#createRoom input{ 
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}
#createRoom button {
  font-size: 2rem;
} */

#user-details{
  margin-top:5rem;
}






/* SINCE ELECTRON & semantic css**/





a#points{

}


/* .profile, .dashboard{
  padding: 3rem;
  text-align: left;
} */







.menu-item-sidebar { 
  border: 1px solid black;
  transition: all .5s;
}

.menu-item-sidebar h5{
  display:flex;
  justify-content:space-between;
  
}


.menu-item-sidebar .activeUsers {
  color: #666;
  border: 2px solid #666;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em; 
  height: 2em;
  background: white;
  /* border-radius:100%; */
}

.top-nav  .item span#cash {
  color: #666;
  border-radius: 50%;
  font-size: 1rem;
  display: inline-flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  width: 2em; 
  height: 2em;
  background: white;
}

.top-nav  .item{
  display: flex;
  justify-content:center;
  align-items:center;
  white-space: nowrap;
}

.top-nav  .item img.ui.avatar.image{
  margin: 1rem;
  display: inline-flex;
}

.top-nav  .active.item > img.ui.avatar.image,  .top-nav  .active.item > span#cash{
  border: 1px solid #666;

}


.active.item{
  border-bottom: 1px solid #666;
}

.menu-item-sidebar h5 button{
  display:none;
}
.menu-item-sidebar:hover{
  background: #444;
}
.menu-item-sidebar:hover button{
 
  /* display:block; */
}




.menu-item-sidebar .participant {
  border-left: 1px solid black;
  text-indent: 10px;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

/* .menu-item-sidebar .participant  .flipper  { 
  display:block;
  transform: rotateY(0deg);
} */

.flipper img.ui.avatar.image {
  transform:translate(-10px, 0px);
}

.menu-item-sidebar .participant:hover  .flipper { 
  transition: 0.3s;
  transform: rotateY(180deg); 
  /* translate(-7px, 0px); */
  
  
}

.menu-item-sidebar .participant:hover {
  border-left: 1px solid red;
}

/* .menu-item-sidebar .participant, .menu-item-sidebar .participant img{
  transition: all .3s;
} */

/* .menu-item-sidebar .participant img { 
  transform:rotateY(0);
  backface-visibility: hidden;
}
.menu-item-sidebar .participant:hover > img { 
  transform:rotateY(180deg);
} */
.remove-participant{
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem; 
  height: 2rem;
  color:red;
   border: 1px solid red;
}
.close-room {
  border: 1px solid red;
}

.host{
  font-weight:bold;
}


/* .menu-item-sidebar:hover {
  background: red !important;
} */



/* FLIP ANIMATION entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	/* .flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	} */

.flip-container, .front, .back {
	width: 2rem; 
  height: 2rem;
}

/* flip speed goes here */
.flipper {
	transition: 0.3s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}




a#create{
  position: absolute;
  left:0;
}

/* .top-nav a{
  transition: all .5s
} */
.top-nav{
  /*background: #eee #172B4D !important;/* How can i avoid important tags with semantic UI*/
  background: #171717 !important;
  display:flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.top-nav a:focus{
  outline: none;
} 

/* .top-nav > div {
  width: 100%;
} */

.top-nav a:hover{
  background: rgb(43, 43, 43);
}



.top-nav #addPost #createRoom {
  display:flex;
  flex-direction: row;
  width: 100%;
}


.top-nav div.search{
    flex:2;

}
/* .top-nav  #createRoom button {
  padding: 1rem;
} */

.top-nav #createRoom .details {
  display:flex;
  flex-direction: column;
 
}

.top-nav .details label {
  color:white;
}
.top-nav > div{ 
  /* border: 1px solid black; */
  /* height: 100%; */

}

#createRoom input {
  border: none;
  width: 100%;
  padding: 1rem;
}

#createRoom  i.add.icon {
  display:flex;
  justify-content: center;
  width: 100%;
}
#createRoom label{
  display:flex;
}

.details {
  padding: 1rem;
  display: flex;
  justify-content:space-evenly
}

.top-nav .links {
  display: flex;
  flex:1;
  justify-content: flex-end;
  align-items: center;
}

.top-nav .links a, .top-nav #createRoom{
  /* border: 1px solid black; */
  padding: 1rem;
  width:50%;

}


.dashboard, .profile {
  /** cornsilk ; **/
  background:floralwhite;
  padding: 1rem;
  display:flex;
  justify-content:center;
  flex-direction: column;
}

.dashboard .ui.header.h3{
  color: white !important;
}

.dashboard h1{
  display: inline-block;
  font-size:50px;
}

/* .dashboard .ui.header{
  display:flex;
  align-items: center;
} */

.ui.header{
  margin: 1rem;
}


ul.resolved, ul.unresolved{
  display:flex;
  flex-direction: wrap !important;
  list-style-type: none;
  flex-wrap: wrap;
  text-align: center;
  justify-content:center;
}
ul.resolved li, ul.unresolved li{
  margin: 1rem 2rem;
  
  padding: 0;
}

.dashboard li .ui.card{
}



.dashboard li .ui.card:hover  .header{
  /* background: cornsilk */
  color:rgb(0, 117, 255) !important;
  text-decoration: underline !important;
}




ul {
  padding: 0;
}

ul#transactions {
  list-style-type: none;
}

ul#transactions {
  text-align: left;
}

ul#transactions li {
  /* box-shadow: 1px solid #000; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 100px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center; */
  /* white-space: nowrap; */
}

ul#transactions {    
  display:inline-flex;
  flex-direction: wrap !important;
  list-style-type: none;
  text-align: center;
  justify-content:center;
}

.dashboard ul#transactions{
  flex-wrap: wrap !important;
}
ul#transactions .ui.card {
  /* width: 100%;
  max-width: 600px;
  text-align: left; */
  background:cornsilk;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  overflow:hidden;
  margin: 1rem;
}

.profile ul.resolved .ui.card {
  margin: 0 2rem;
}

ul#transactions .ui.card button{

}

ul#transactions .ui.card:hover .description{
    flex-direction: column;
    display: flex;
    color:rgba(0,0,0,.4);
    justify-content: center;
    align-items: center;
}
.dashboard ul#transactions .ui.card:hover .description::before{
  content:'Cash Out';
  margin: 2px;
}
ul#transactions .ui.card button{
  width: 3.5rem;
  height: 3.5rem;
}
ul#transactions .ui.card .content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}




ul#myTransactions{
  display:flex;
  overflow-y: hidden;
  overflow-x:scroll;
  width: 20rem;
  border: 1px solid black;
  /* transform: scale(.5);
  transform-origin: top left; */
}

/* ul#myTransactions::-webkit-scrollbar {
  display: none;
} */
ul#myTransactions li{
  
  padding: 1rem;
  border-right: 1px solid rgba(0,0,0,.4);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem;
    margin: 1rem 0;
}

/* .trans{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
 
} */

.profile-details{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;

}

.profile-details .pooo, .profile-details .trans{

  padding:1rem;
  width: 100%;
  height:100%;
  overflow-y: hidden;
  overflow-x:auto;

}

.profile-details ul{
  display:flex;
  justify-content:flex-start;

  flex-direction: row;
  flex-wrap: nowrap;
  transform: scale(.8);
  transform-origin: left;

}
  
.profile-details .pooo::-webkit-scrollbar, .profile-details .trans::-webkit-scrollbar {
  max-height: 2px;
} 
.pooo{
  display:flex;
  flex-direction:column;
}

.profile, .dashboard, #chat{
  justify-content: space-evenly;
  min-height: calc(100vh - 8rem);
}
.counter{
  position: absolute;
  top: -2rem;
  left: 2rem;
  z-index: 1984;
}

.unresolved, #transactions {
  position: relative;
}

.post-detail{
  background:cornflowerblue;
  display: flex;
  /* justify-content: space-between; */
  /* align-content: space-around; */
  /* align-self: self-end; */
  line-height: 10rem;
  padding: 0rem;
}


#showEncounters{
  display:flex;
  margin:0;
  flex-direction:column;
  justify-content:space-evenly;
}




/**CHAT**/

#chat{
  background: floralwhite;
  min-height: 100%;
  border-top: 1px solid green;
  background: #1b1b1b;
  display:flex;
  justify-content:space-between;
  align-items:space-between;
  flex-direction: column;
  /* padding: 1rem; */
}

#chat header{
  padding: 1rem;
}

#chat header {
  display:flex;
  justify-content:space-between;
  align-items: flex-end;
  border-top: 1px solid #282828;
  /* text-align: left; */
  background:#171717;
}

#chat header h1{
    flex: 2;
    margin:0;
    text-align: justify;
    padding-right: 2rem;
    font-size: 1.2rem;

}


div#messages .message-title h1{
  opacity: 1;
  padding: .5rem;
  font-size: 1rem;

  color: whitesmoke;

  /* margin: 2px;*/
  
}
/* 
#chat header button{
background:#1b1c1d;
border: none;
color: whitesmoke;
padding: .5rem;
  margin: 1px;
} */
#chat main{
  display:flex;
  /* background:#1b1b1b; */
  color: white;
  /* margin-top: 2rem; */

}
#chat main ul{
  list-style-type: none;
  /* border: 1px solid black; */
}

#chat main ul li{
  border-top: 1px solid #333;
  margin: 0px 30px;
  padding: 1rem;
}
div#channels{
  flex:1
}

div#messages{
  flex:3
}

div#messages .message{
  display:flex;
  text-align:left;
}

div#messages .message{
  text-indent: 1rem;
}

div#messages .message div{
  width: 100%;
}
div#messages .message .name{
  color: #777;
  font-size: .8rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div#messages .message .text{
  margin-top: 1rem;
}


#chat form {
  /* position: fixed;
  width: calc(100% - 250px);
  bottom: 0;
  right: 0; */
  width: 100%;
  padding: 1rem;
  /* border-top:1px solid #383838; */

}

#chat form input {
  border: none;
  width: 100%;
  padding: 1rem;
}


#chat ul{
  height: 70vh;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
/* ul#roomBah{
  display:flex;
  justify-content:space-between;
  list-style-type: none;
}

ul#roomBah li{
  margin-top: 0 !important; 

} */

/* #chat{
  position: absolute;
  z-index: 23233232322;
  background: white;
  top: 200px;
  height: 300px;
  display: flex;
      } */

.header.link.item.menu-item-sidebar{
      display:flex;
      text-align:left;
      /* flex-direction:row; */
      /* justify-content:space-between */
}

.header.link.item.menu-item-sidebar .controls, #chat header .controls{
  background: #3d3d3d;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: .125rem;
  flex: 1;
}
.header.link.item.menu-item-sidebar .controls button,  #chat header .controls button{
  background:#1b1c1d;
  border: none;
  color: whitesmoke;
  padding: .5rem;
  flex: 1;
    margin: 1px;
    
}
.header.link.item.menu-item-sidebar .controls button:hover,  #chat header .controls button:hover{
  color: green;
}
.header.link.item.menu-item-sidebar .controls button:focus,  #chat header .controls button:focus{
  outline:none;
}


#back{
  max-width: 100px;
  overflow:hidden;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
  color: white;
}

#back i.icon.arrow.left:before {
  font-size: 2rem;
}

#address{
  position: absolute;
  color:rgba(255,255,255,.1);
  top: 0;
  font-size:.9rem;
}

#back i {

}
.links > * {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  height: 60px;  
  overflow:hidden;
}

.links > *:hover{
  text-decoration:underline;
  background: rgb(43, 43, 43);
}

#logo{

  color:white;
  flex:2;

}

 